@font-face {
  font-family: "NanumBarunGothicOTF YetHangul";
  src: url("/NanumBarunGothicOTF-YetHangul.otf") format("otf");
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&subset=korean");

body {
  font-family: "NanumBarunGothicOTF YetHangul", "Noto Sans KR", sans-serif;
  font-size: 1rem;
}

div.title {
  color: #3db7cc;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  padding-left: 1rem;
  margin-top: 2rem;
}

button.left {
  margin-left: 1rem;
}
.typed-characters {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.05rem;
  width: 400px;
  border: 2px solid #3db7cc;
  margin: 1rem;
  padding: 0.75rem;
}

.intonation-0 {
  min-width: 0.5rem;
}

.intonation-1 {
  min-width: 0.5rem;
  color: black;
  border-radius: 0.5rem;
  font-weight: bold;
}

.intonation-2 {
  min-width: 0.5rem;
  color: green;
  border-radius: 0.5rem;
  font-weight: bold;
}

.intonation-3 {
  min-width: 0.5rem;
  color: #ffc300;
  border-radius: 0.5rem;
  font-weight: bold;
}

.intonation-4 {
  min-width: 0.5rem;
  color: red;
  border-radius: 0.5rem;
  font-weight: bold;
}

.typing-character {
  display: flex;
  flex-wrap: wrap;
  min-width: 0.5rem;
  border-right: 1px solid black;
}
